* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgb(245, 245, 245);
  color: #333;
  height: 100vh;
}

main {
  height: 100%;
  display: flex;
}

header {

  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

#headerWrapper {
  display: flex;
  flex:1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#headerTitleWrapper {
  font-weight: bold;
  align-items: flex-start;  
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
}

#headerTitleWrapper h1 {
  color: #333;
}

#headerControlsWrapper {
  align-items: flex-end;
  justify-items: flex-end;
}

#headerCommentsWrapper{
  max-width: 200px;
  font-size: 9pt;
}

nav {
  background-color: rgb(245, 245, 245);
  flex: 1;
}

/* content-article not used, individual screens w/i articles get intended formatting instead */
/* article {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  height: 100%;
  background-color: rgb(245, 245, 245);
} */
article {
  display: flex;
  flex: 1;
}

#startScreenWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  background-color: rgb(245, 245, 245);
}




#selectionScreenWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  background-color: rgb(245, 245, 245);
}
#qScreenWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  background-color: rgb(245, 245, 245);
}
#endScreenWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  background-color: rgb(245, 245, 245);
}

aside {
  display: flex;
  width: 20%;
  flex-direction: row;
  background-color: rgb(245, 245, 245);
  color: black;
}

footer {
  background-color: rgb(245, 245, 245);
}

header h1, footer h1 {
  padding: 20px;
  text-align: center;
}

header h1 {
  font-family: 'DM Serif Display', serif;
  font-weight: bold;
  font-size: 35pt;
}

@media screen and (max-width: 600px) {
  main {
      flex-direction: column; 
  }
}

.blue-gradient {
  background: -moz-linear-gradient(45deg, rgba(68, 78, 220, 0.6), rgba(52, 158, 225, 0.69) 100%);
  background: -webkit-linear-gradient(45deg, rgba(68, 78, 220, 0.6), rgba(52, 158, 225, 0.69) 100%);
  background: linear-gradient(to 45deg, rgba(68, 78, 220, 0.6), rgba(52, 158, 225, 0.69) 100%);
  }


/* ----------------------------------------------- */

#qCard, #selectionCard, #startCard {
  flex-direction: column;
  flex: 1;
  position: relative;
  margin: 2.5%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

#qCard h1, #selectionCard h1, #startCard h1 {
  padding: 2.5%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #00D68F;
  font-weight: bold;
  font-size: 22pt;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  color: white;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

#selectionCard h1 {
  background-color: #FFA902;
}

#startCard h1 {
  background-color: #555;
  color: #fff;
  font-size: 30pt;
}

#startCard button {
  justify-items: center;
  color: #333;
}

#qCard ul, #selectionCard ul, #startCard ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  list-style: none;
  text-align: center;
  font-size: 22pt;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  color: #444;
}

#startCard span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  list-style: none;
  text-align: center;
  line-height: 70px; 
  font-size: 22pt;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
}

#qCard li, #selectionCard li, #startCard li {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  padding-top: 1%;
  padding-bottom: 1%;
  cursor: pointer;
}

#qCategoryTag {
  position: absolute;
  list-style: none;
  font-size: 20pt;
  margin-left: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  color: #777;
}

#counterWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.10);
  bottom: 25%;
  right: 60px;
  font-weight: bold;
}

#timerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}

#timerWrapper {
  font-size: 35pt;
}

#timerRef {
  font-size: 12pt;
  margin-bottom: 5px;
  color: #555;
}

/* ----------------------------------------------- */

#progressWrapper {
  height: 15px;
  margin-left:10%; 
  margin-right:10%; 
  margin-bottom:5%;
}

.progress {
  background-color: #fff;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.10);
}

#progressPrompt {
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.10);
  color: #555;
}

/* ----------------------------------------------- */

/* Animations */

@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInLeft {
  -webkit-animation-duration: 700ms;
  animation-duration: 700ms;  
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  animation: bounceInLeft 700ms 1;    
  /* animation-delay: 2s; */
}

@-webkit-keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
}

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
}

.bounceOutRight {
  -webkit-animation-duration: 700ms;
  animation-duration: 700ms;  
  -webkit-animation-name: bounceOutRight;
  animation-name: bounceOutRight;
  animation: bounceOutRight 700ms 1;   
  /* animation-delay: 2s; */
}

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-duration: 700ms;
  animation-duration: 700ms;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  animation: bounceIn 700ms ease-in 1;
}

@-webkit-keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50%,
  55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

@keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50%,
  55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

.bounceOut {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceOut;
  animation-name: bounceOut;
  animation: bounceOut 0.75s ease-in 1;
}

@-webkit-keyframes flip {
  from {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, 0deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  to {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

@keyframes flip {
  from {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, 0deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  to {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

.animated.flip {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: flip;
  animation-name: flip;
  animation: flip 700ms 1;
}


/* Hover */

.btnHover {
  border: none;
  opacity: 1;
  transition: 0.3s;
}

.btnHover:hover {
  opacity: 0.6
}

.selectionHover {
  background-color:none;
  transition: 0.3s;
  margin-left: 40%;
  margin-right:40%;
  border-radius: 15px;
}
.selectionHover:hover {
  background-color:rgba(111, 207, 194, 0.8);
  color: #fff;
  border-radius: 35px;
  transition: 0.3s;
}
.selectionHover:active {
  background-color:rgba(111, 207, 194, 1.0);
  color: #fff;
  border-radius: 35px;
  transition: 0.3s;
}